body {
  background: #BFC8CD;
  font-family: Verdana;
  font-size: 13px;
}

/* Commons */
.f-left {
  float: left; 
}

.f-right {
  float: right;
}

h1 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
}

h2 {
  font-style: italic;
  font-weight: bold;
  padding: 24px 0 8px;
}

cite {
  font-style: italic;
  font-weight: bold;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Page */

.page-container {
  background: url('../img/page.jpg') #bfc8cd repeat-x;
  padding-bottom: 20px;
}

/* Main container */
.main-container {
  margin: 0 auto;
  position: relative;
  width: 1024px;
}

/* Decoration */
.decoration {
  float: right;
  position: absolute;
  top: 9px;
  right: -12px;
  z-index: 10;
}

/* Header */
.header {
  padding: 75px 28px 0;
} 

.logo {
  padding-left: 15px;
}

/* Hightlithed */
.hightlithed {
  clear: both;
  position: relative;
}

.hightlithed ul {
  background: url('../img/shadow-slide.png') no-repeat bottom center;
  display: block;
  position: absolute;
  padding: 0 32px 20px;
  top: 0;
}

.hightlithed li,
.hightlithed img {
  display: block;
}

/* Main content */
.main-content{
  background: url('../img/body.png') #fff repeat-x;
  clear: both;
  margin-top: 212px;
  padding: 120px 29px 15px;
}

.inner-main-content {
  clear: both;
  margin-top: 8px;
}

.content {
  background: url('../img/inner-container.png') no-repeat;
  color: #fff;
  height: 158px;
  margin: 0 6px;
  padding-left: 32px;
  padding-top: 19px;
}

.button {
  background: url('../img/button.png') no-repeat;
  display: block;
  height: 40px;
  margin-top: 13px;
  padding: 18px 17px 12px 21px ;
  text-indent: -9999px;
  width: 235px;
}

.sponsor {
  clear: both;
  font-size: 12.5px;
  margin-top: -30px;
  padding: 2px 0 0 30px;
}

.sponsor span {
  display: block;
  float: left;
  margin-top: 12px;
}

/* Footer */
.footer {
  background: url('../img/footer.png');
  height: 63px;
  padding: 17px 128px 0 68px;
}

.footer .copyright {
  color: #bfc8cd;
  font-size: 12px;
}

.footer .info,
.footer .info a {
  color: #FFF;
  font-size: 16px;
}
